body {
  margin: 0;
  padding: 0;
  color: #c2c2c2;
  overflow: hidden;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

@font-face {
  font-family: 'OpenSans';
  src: url('public/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "OpenSans";
  src: url('public/fonts/OpenSans_Condensed-Regular.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
} */
